@font-face {
    font-family: 'GilamBold';
    src: url('../fonts/Gilam/AnyConv.com__GilamBold.eot'),
        url('../fonts/Gilam/AnyConv.com__GilamBold.ttf') format('truetype'),
        url('../fonts/Gilam/AnyConv.com__GilamBold.woff') format('woff'),
        url('../fonts/Gilam/AnyConv.com__GilamBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GilamLight';
    src: url('../fonts/Gilam/AnyConv.com__GilamLight.eot'),
        url('../fonts/Gilam/AnyConv.com__GilamLight.ttf') format('truetype'),
        url('../fonts/Gilam/AnyConv.com__GilamLight.woff') format('woff'),
        url('../fonts/Gilam/AnyConv.com__GilamLight.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GilamRegular';
    src: url('../fonts/Gilam/AnyConv.com__GilamRegular.eot'),
        url('../fonts/Gilam/AnyConv.com__GilamRegular.ttf') format('truetype'),
        url('../fonts/Gilam/AnyConv.com__GilamRegular.woff') format('woff'),
        url('../fonts/Gilam/AnyConv.com__GilamRegular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}