@import 'font';

body {
    font-family: 'Gilam', sans-serif;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.wrapper {
    max-width: 1400px;
}

.header {
    height: 50px;
    padding-top: 46px;
}

.header-navigation {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.header-menu{
    text-decoration: none;
}

.link {
    border: 1px solid #E4B564;
    padding: 10px;

}

.header-menu-img {
    width: 216px;
    height: 33px;
    left: 230px;
    top: 46px;
}

.header-menu-link {
    font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #E4B564;
    padding: 10px 15px 10px 10px;
    font-family: 'Gilam', sans-serif;  
}

.header-menu-img-phone {
    padding-left: 15px;
    
}

.main {
    margin-top: 128px;
}

.main-header {
    width: 700px;
    height: 28px;
    left: 230px;
    top: 207px;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: white;
    padding-bottom: 41px;
}

.main-header-text {
    width: 1182px;
    height: 56px;
    left: 230px;
    top: 276px;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: white;
    padding-bottom: 41px;
}

.main-box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    gap: 25px;
}

.main-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.item-1 {
    grid-column: span 2;
    background: #634F2C;
}

.item-2 {
    grid-column: span 2;
    background: #B4A385;
}

.item-3 {
    grid-column: span 2;
    background: #E4B564;
}

.item-4 {
    grid-column: 1 / 4;
    background: #635A4A;
}

.item-5 {
    grid-column: 4 / 7;
    background: #B08C4D;
}

.header-h1-text {
    margin-top: 161px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: white;
}

.middle-box {
    margin-top: 94px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(26, 10px);
    gap: 25px;
    margin-bottom: 191px;
}

.title-box {
    font-weight: 500;
	font-size: 20px;
	line-height: 25px;
	color: #FFFFFF;
	padding: 44px 52px;
}

.title-box-span{
    display: block;
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
	color: #FFFFFF;
}

.box-1 {
    background-color: #0E0E0E;
    grid-column: 1 / 4;
    grid-row: 1 / 10 ;
}

.box-2 {
    background: #242424;
    grid-column: 4 / 7;
    grid-row: 1 / 13;
}

.box-3 {
    background: #1F1F1F;
    grid-column: 7 / 12;
    grid-row: 1 / 8;
}

.box-4 {
    background: #1F1F1F;
    grid-column: 1 / 4 ;
    grid-row: 10 / 26;
}

.box-5 {
    background: #E4B564;
    grid-column: 4 / 7 ;
    grid-row: 13 / 25;
}

.box-6 {
    background: #0E0E0E;
    grid-column: 7 / 12;
    grid-row: 8 / 18;
}

.box-7 {
    background: #0A0909;
    grid-column: 7 / 12;
    grid-row: 18 / 26;
}

.background-color-wrap {
	width: 100%;
    background-color: #0E0E0E;
    margin-bottom: 240px;
}

.our-clients-wrapper {
	display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin-bottom: 60px;
    margin-top: 172px;
    margin-left: auto;
    margin-right: auto;
}

.our-clients-title{
	font-weight: 700;
	font-size: 50px;
	line-height: 28px;
	color: #FFFFFF;
	display: inline-block;
}

.our-clients-btn {
	padding: 10px 40px;
    border: 1px solid #E4B564;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

.our-clients-btn-text {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	text-decoration: none;
	color: #E4B564;
}

.our-clients-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 468px);
	max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.our-clients-container-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-logo-one {
	background-color: #634F2C;
}

.item-logo-two {
	background-color: #E8D2ABC2;
}

.item-logo-three {
	background-color: #E4B564;
}

.item-logo-four {
	background-color: #635A4A;
}

.item-logo-five {
	background-color: #B08C4D;
}

.item-logo-six {
	background-color: #634F2C;
}